name: Unit Tests

on:
    push:
        branches:
            - master
            - dev

defaults:
    run:
        shell: bash
        working-directory: .

jobs:
    hello-world:
        name: hello-world
        runs-on: ubuntu-20.04

        steps:
            - uses: actions/checkout@v2
            - name: Say hello world
              run: echo "Welcome to the Github Actions workshop!"

    unit-test:
        name: unit-tests
        runs-on: ubuntu-20.04
        container: epitechcontent/epitest-docker:latest

        steps:
         - uses: actions/checkout@v2
         - name: Build
           run: make tests_run
         - name: Coverage
           run: make coverage > coverage_output

         - uses: actions/upload-artifact@v2
           with:
               name: coverage_outputs
               if: always()
               path: coverage_output
